{% extends "banner_base.html" %}
{% load thumbnail %}
{% load comments %}

{% block title %} stories {% endblock %}

{%block banner%} {{project.title}} {%endblock%}

{% block banner_body %}
<ul class="carousel-ready overflow-hidden">
    {% for story in project.story_set.all %}
        {# make carousel panels #}
        {% if forloop.first %}
            <li class="span11">
            <div class="row" style="height:120px; margin-left:20px;">
        {% elif forloop.counter0|divisibleby:"9" %}
            </div> <!-- end row -->
            </li> <!-- end panel -->
            <li class="span11">
            <div class="row" style="height:120px; margin-left:20px;">
        {% elif forloop.counter0|divisibleby:"3" %}
            </div> <!-- end row -->
            <div class="row" style="height:120px; margin-left:20px; padding-top:20px;">
        {% endif %}
        
        <div class="span2" style="margin-left:0;">
            <p class="contrib_page">
                <div class="pic">
                   <a href="{{story.get_absolute_url}}"><img src="{% thumbnail story.cover_photo.image 240x160 crop %}"/></a>
                </div>
            </p>
        </div>
        <div class="span2" style="margin-top: 10px; width:120px;">
            <p class="mini_title" style="margin-top: 20px; margin-left: -15px; ">
                <a href="{{story.get_absolute_url}}"><img src="/s/static/circle_arrow.gif" width="12%"/>&nbsp{{story.title}}</a>
                <h5 style="color: white; margin-top: -5px; margin-left: -10px;">By {{story.author.get_profile.full_name}}</h5>
            </p>
        </div>
    {% endfor %}
    </div> <!-- end row -->
    </li> <!-- end panel -->
</ul>
{% endblock %}
