{% extends "banner_base.html" %}
{% load thumbnail %}
{% load comments %}
{% load inlines %}

{%block banner%} {{project.title}} {%endblock%}

{%block extrahead%}
		<style type="text/css">
			.storypage>p {
				color: white !important;
				font-size: 10.5pt !important;
				font-family:sans-serif !important;
			}
		</style>

{%endblock%}

{% block banner_body %}
		<div class="span11">
		<div class="storypage">
		<h3 style="color: white"> {{story.title}} </h3>
		<h5 style="font-size: 10pt; font-style: italic"> By {{story.author.get_profile.full_name}} </h5>
		<p class="storybody"> {% process_inlines story.body %} </p>
		</div>
		</div>
{% endblock %}