{% extends "banner_base.html" %}
{% load thumbnail %}
{% load comments %}

{% block title %} stories {% endblock %}

{%block banner%} {{project.title}} {%endblock%}

{% block banner_body %}
<ul class="carousel-ready overflow-hidden">
    <li class="span12" id="view9">
    <div class="row" style="height:120px;">
    {% for story in project.story_set.all %}
        <div class="span2">
            <p class="contrib_page">
                <div class="pic">
                    <img src="{% thumbnail story.cover_photo.image 200x150 crop %}"/>
                </div>
            </p>
        </div>
        <div class="span2" style="margin-left: 70px">
            <p class="mini_title" style="margin-top: 55px">{{story.title}}
            <h5 style="color: white; margin-top: -5px"> By {{story.author.first_name}} {{story.author.last_name}}</h5></p>
            <p class="popup_link"><a href="{{story.get_absolute_url}}"><img src="/s/static/profile_arrow.png"/>Read Now </a></p> 
            
        </div>
    {% if forloop.counter|divisibleby:"3" %}
     </div><div class="row" style="height:120px; padding-top: 20px">
    {% endif %}
    {% if forloop.counter|divisibleby:"9" %}
        <!--  end the view 9 section for swiping to a new one -->
        </div></li>
        <li class="span12" id="view9"><div class="row">
    {% endif %}
    
    {% endfor %}
    </div>
    </li>
</ul>
{% endblock %}
