{% extends "banner_base.html" %}
{% load thumbnail %}
{% load comments %}

{%block banner%} {{project.title}} {%endblock%}

{% block banner_body %}
		<div class="span11">
		<div class="storypage" style="-moz-column-count:3; -webkit-column-count:3; column-count:3; height: 410px; width: 850px; overflow-x: auto">
				
		<h3 style="color: white"> {{story.title}} </h3>
		<h5 style="font-size: 10pt; font-style: italic"> By {{story.author.get_profile.full_name}} </h5>
		
		<style type="text/css">
			.storypage>p {
				color: white !important;
				font-size: 10.5pt !important;
				font-family:sans-serif !important;
			}
		</style>
		
		<p class="storybody"> {{story.body|safe}} </p>
		
		
		</div>
		</div>
{% endblock %}