{% extends "base.html" %}
{% load thumbnail %}
{% load comments %}

{% block title %}act{% endblock %}

{%block banner%} Our Team {%endblock%}

{% block body %}
	<div class="span10">
		<p class="info_page">
			The student photodocumentary program focuses on locations where people struggle with poverty. 
			Through the endowment, students' travel and equipment expenses are covered. 
			Students upload photos and stories from the field and work as true "in-the-field" reporters.
			
			<br/> <br/>
			
			The College of Journalism and Mass Communications is committed to preparing the next generation of media 
			professionals. Past awards to the college's depth-reporting projects have included the Society of
			 Environmental Journalists 2009 Award for Reporting on the Environment to "Ethanol: salvation or damnation?";
			 the Renewable Natural Resources Foundation 2007 Excellence in Journalism Award to "Platte River Odyssey,"
			 the Student Academy Award-winning documentary "Cuba: Illogical Temple," and the Pulitzer Prize-nominated 
			 "Cuba: An Elusive Truth." 
		</p> 
		<div class="fb-send" data-href="http://jaam.us.to" data-font="arial" data-colorscheme="dark"></div>
	</div>
	
{% endblock %}