{% extends "base.html" %}

{% block title %}
User Details
{% endblock %}

{% block body %}

<div class="container" style=" margin-left: 35%; margin-top: 20px;">
		<h2 style="color: white">Login Successful! </h2>
		<h3 style="color: white">Please complete your profile information.</h3>
		<br />
		<div class="span3" style="background-color: white; padding: 10px;">
		<ul>
		<li> <a href="/associate/facebook"> Associate Facebook </a> </li>
		<li> <a href="/associate/twitter"> Associate Twitter </a> </li>
		<li> <a href="/associate/google"> Associate Google </a> </li>
		<li> <a href="/associate/openid"> Associate OpenID </a> </li>
		</ul>
		<h3 style="color: white"> <form action="confirm" method="post"> {% csrf_token %}		
		  {{ profile_form.as_p }}
		  	<input type="submit" value="Submit"/>
		  	</form>
		</h3>
		</div>

</div>
{% endblock %}
