{% extends "base.html" %}
{% load thumbnail %}

{% block title %}
{{user.get_profile.full_name}}
{% endblock %}

{% block body %}
<div></div>
<div class="journalist-profile" style="padding-left:13%; padding-top:3%">

	<div class="span9">
	<div class="container-fluid">
		<div class="column-fluid">
			<div class="span3">
				<div style="margin-top:10px"><img src="{% thumbnail user.get_profile.avatar 300x200 %}" /></div>
				<div class="row-fluid" style="margin-top: -40px">
					<img src="/s/static/banner_bottom.png" width="200px"/>
				</div>
				<div><h2 style="color:white; margin-top:40px">{{user.get_profile.full_name}}</h2></div>
				<div style="color:white"> Major: {{user.get_profile.major}} </div>
				<div style="color:white; margin-top:10px"> Email: {{user.email}} </div>
				
			</div>
			<div class="span6">
				<div><h2 style="color:white; padding-top:12px">{{user.username}}'s Profile</h2></div>
				<div style="color:white; padding-top:12px; padding-bottom:12px; border-bottom:solid; border-width:thin"> {{user.get_profile.bio}} </div>
				<div style="color:white; border-bottom:solid; border-width:thin; padding-top:12px; padding-bottom:12px"> There should be photos or something </div>
				<div style="padding-top:12px">  </div>
			</div>
		</div>
	</div> <!-- end container -->
	</div> <!-- end span 9 -->

</div>

{% endblock %}
