{% extends "base.html" %}

{% load thumbnail %}

{% block title %}
{{journalist.get_profile.full_name}}
{% endblock %}

{% block body %}

<script type="text/javascript">
$(document).ready(function (){
    $(".carousel-ready.overflow-hidden").carousel({"overflow":"hidden"});
    $(".carousel-ready").carousel();
 })
 </script>

    <style type="text/css">
        .journalist-bio * {
            color: white !important;
            font-size: 10pt !important;
            font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
        }
        
        .journalist-photos-thumbnail {
            float: left;
        }

        #journalis-photos-thumbnails {
            clear: left;
        }
    </style>
    
    <style type="text/css">
        @font-face {
            font-family: 'CabinRegular';
            src: url('Cabin-Regular-webfont.eot');
            src: url('Cabin-Regular-webfont.eot?#iefix') format('embedded-opentype'),
                 url('Cabin-Regular-webfont.woff') format('woff'),
                 url('Cabin-Regular-webfont.ttf') format('truetype'),
                 url('Cabin-Regular-webfont.svg#CabinRegular') format('svg');
            font-weight: normal;
            font-style: normal;
        
        }
    </style>

{% if embed %}
    <div class="journalist-profile" style="margin-top: 22%; margin-left: -8%; overflow: hidden;">
    <script type="text/javascript">
        $(document).ready(function (){
            $("#header").hide();
            $("#footer").hide();
        })
    </script> 
    <style type="text/css">
            body {
            background-color: #555555 !important;
        }
    </style>
{% else %} 
<div class="journalist-profile" style="margin-top: 13%; margin-left: 8%; overflow: hidden;">

{% endif %}

    <div class="span12">
    <div class="container-fluid">
        <div class="column-fluid">
            <div class="span4">
                <div style="min-height: 220px; margin-top:10px">
                    <img src="{% thumbnail journalist.get_profile.avatar 330x220 %}" />
                </div>
                
                <div class="journalist-banner">
                    <div>
                        <img src="/s/static/photographer_profile_banner.png" width="300px"/>
                    </div>
                    <div class="journalist-name">{{journalist.get_profile.full_name}}</div>
                </div>
                <div class="journalist-infobox">
                    <div class="journalist-info"> {{journalist.get_profile.major}} </div>
                    <div class="journalist-label" > MAJOR </div>
                    <div class="journalist-info"> {{journalist.email}} </div>
                    <div class="journalist-label" > EMAIL </div>
                </div>
            </div>

            <div class="span6" style="margin-top: -50px;">              
                <div class="journalist-bio"><p class="description"> {{journalist.get_profile.bio|safe}} </p> </div>
                <div class="journalist-div">
                    <div style="display: inline-block; margin-left: -20px">
                        <img src="/s/static/camera.png" height="50px" width="67px">
                    </div>
                    <div style="display: inline-block" >
                        <p class="bar-info">
                        {% for photo in journalist.photo_set.all|slice:"1" %}
                            {{photo.exif_data.camera_manufacturer}}
                        {% endfor %}
                        </p>
                         <p class="bar-label"> CAMERA </p>
                     </div>
                      
                     <div style="display: inline-block; margin-left: 2em;">
                            <img src="/s/static/photos.png"/ height="52px" width="46px">
                    </div>
                    <div style="display: inline-block">
                    <p class="bar-info">
                     	{{journalist.photo_set.count}}
                     </p>
                     <p class="bar-label"> IMAGES </p>
                     
                     </div>
                </div>
				
				<div style="width: 450px; overflow-x: hidden;">
                <div id="journalist-photos-thumbnails" style="margin-left: 10px; height: 80px; width: 96px;">
                <ul class="carousel-ready">
                    {% for photo in journalist.photo_set.all %}
                    	<li>
                          <img class="journalist-photos-thumbnail" src="{% thumbnail photo.image 96x64 %}" />
                         </li>
                    {% endfor %}
                </ul>
                </div>
                </div>
            </div>
        </div>
    </div> <!-- end container -->
    </div> <!-- end span 9 -->

</div>

{% endblock %}
