{% extends "base.html" %}

{% block title %}
Post Details
{% endblock %}

{% block body %}

<div class="container" style=" margin-left: 35%; margin-top: 20px;">
		<h2 style="color: white">Login Successful! </h2>
		<h3 style="color: white">Please complete your profile information.</h3>
		<br />
		<div class="span3" style="background-color: white; padding: 10px;">
		<h3 style="color: white"> <form action="confirm" method="post"> {% csrf_token %}		
		  	{{ profile_form.as_p }}
		  	<input type="submit" value="Submit"/>
		  	</p>
		  	</form>
		</h3>
		</div>

</div>
{% endblock %}
