body {
    margin: 0px;
	background: #7D7D7D;
    overflow-x: hidden;
}

h5 {
	font-size: 10pt;
}

img, hr {
    border: none;
}

#header, #content {
    width: 100%;
    margin: 0px;
}

#header {
    height: 36pt;
}

hr {
    width: 95%;
    margin: 10px auto;
    background: #5E5E5E;
    height: 1pt;
}

#content {
    height: 500pt;
    width: 450pt;
}

#gallery_footer {
	height: 100px;
	width: 100px;
}

.photo_gallery {
	white-space: nowrap;
	float: left;
    height: 150pt;
    position: relative;
}

.gallery {
    white-space: nowrap;
    float: left;
    height: 500pt;
    position: relative;
}

ul.gallery, ul.photo_gallery {
    list-style-type: none;
}

.gallery li {
    height: 200px;
    width: 450px;
    float: left;
}

.photo_gallery li {
    height: 150px;
    width: 500px;
    float: left;
}

.project {
    height: 350pt;
    width: 400pt;
    float: left;
    margin: 38pt 20pt;
}

.project_small {
    height: 150pt;
    width: 200pt;
    float: left;
    margin: 38pt 20pt;
}

.project.focus {
    height: 300pt;
    width: 400pt;
    margin: 0pt;
    background: white;
    color: black;
}

.project-thumb {
    width: 400pt;
    height: 300pt;
    background: black;
}

.project-thumb-photo {
    width: 75pt;
    height: auto;
    background: black;
}

.project-title {
    display: block;
    width: 400pt;
    text-align: center;
    font-size: 22pt;
    color: white;
    padding-top: 20pt;
}

.gallery-banner {
background: rgb(191,210,85);
background: -moz-linear-gradient(top,  rgba(191,210,85,1) 0%, rgba(142,185,42,1) 50%, rgba(114,170,0,1) 51%, rgba(158,203,45,1) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(191,210,85,1)), color-stop(50%,rgba(142,185,42,1)), color-stop(51%,rgba(114,170,0,1)), color-stop(100%,rgba(158,203,45,1)));
background: -webkit-linear-gradient(top,  rgba(191,210,85,1) 0%,rgba(142,185,42,1) 50%,rgba(114,170,0,1) 51%,rgba(158,203,45,1) 100%);
background: -o-linear-gradient(top,  rgba(191,210,85,1) 0%,rgba(142,185,42,1) 50%,rgba(114,170,0,1) 51%,rgba(158,203,45,1) 100%);
background: -ms-linear-gradient(top,  rgba(191,210,85,1) 0%,rgba(142,185,42,1) 50%,rgba(114,170,0,1) 51%,rgba(158,203,45,1) 100%);
background: linear-gradient(top,  rgba(191,210,85,1) 0%,rgba(142,185,42,1) 50%,rgba(114,170,0,1) 51%,rgba(158,203,45,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bfd255', endColorstr='#9ecb2d',GradientType=0 );

height: 100px;
}