body {
    margin: 0px;
	background: #7D7D7D;
    overflow-x: hidden;
    height: 100%;
}

h5 {
	font-size: 10pt;
}

img, hr {
    border: none;
}

#header, #content {
    width: 100%;
    margin: 0px;
}

#header {
    height: 36pt;
}

hr {
    width: 95%;
    margin: 10px auto;
    background: #5E5E5E;
    height: 1pt;
}

#content {
    height: 500pt;
    width: 450pt;
}

#gallery_footer {
	height: 100px;
	width: 100px;
}

.photo_gallery {
	white-space: nowrap;
	float: left;
    height: 150pt;
    position: relative;
}

.gallery {
    white-space: nowrap;
    float: left;
    height: 500pt;
    position: relative;
}

ul.gallery, ul.photo_gallery {
    list-style-type: none;
}

.gallery li {
    height: 200px;
    width: 450px;
    float: left;
}

.photo_gallery li {
    height: 150px;
    width: 500px;
    float: left;
}

.project {
    float: left;
    margin: 38pt 20pt;
}

.project_small {
    height: 150pt;
    width: 200pt;
    float: left;
    margin: 38pt 20pt;
}

.project.focus {
    height: 300pt;
    width: 400pt;
    margin: 0pt;
    background: white;
    color: black;
}

.project-thumb {
    width: 400pt;
    height: 300pt;
    background: black;
}

.project-thumb-photo {
    width: 75pt;
    height: auto;
    background: black;
}

.portrait {
	
    width: auto;
    height: 56.5pt;
    background: black;
}

.project-title {
    display: block;
    width: 400pt;
    text-align: center;
    font-size: 22pt;
    color: white;
    padding-top: 20pt;
}

.gallery-banner {
	background-color: #f5f5f5;
	height: 100px;
	position: relative;
	top: -20px;
	margin: 0 -20px;

    -webkit-border-radius: 0 0 6px 6px;
       -moz-border-radius: 0 0 6px 6px;
            border-radius: 0 0 6px 6px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
       -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
            box-shadow: 0 1px 2px rgba(0,0,0,.15);
}


.bottombar {
  height: 40px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10000;
  overflow: visible;
    background: #222;
  background-color: #2C2C2C;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#333333), to(#222222));
  background-image: -moz-linear-gradient(top, #333333, #222222);
  background-image: -ms-linear-gradient(top, #333333, #222222);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #333333), color-stop(100%, #222222));
  background-image: -webkit-linear-gradient(top, #333333, #222222);
  background-image: -o-linear-gradient(top, #333333, #222222);
  background-image: linear-gradient(top, #333333, #222222);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
}

.bottombar a {
  color: #bfbfbf;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.bottombar a:hover, .bottombar ul li.active a {
  background-color: #333;
  background-color: rgba(255, 255, 255, 0.05);
  color: #ffffff;
  text-decoration: none;
}
.bottombar h3 {
  position: relative;
}
.bottombar h3 a {
  float: left;
  display: block;
  padding: 8px 20px 12px;
  margin-left: -20px;
  color: #ffffff;
  font-size: 20px;
  font-weight: 200;
  line-height: 1;
}


.bottombar ul {
  display: block;
  float: left;
  margin: 0 10px 0 0;
  position: relative;
}
.bottombar ul.secondary-nav {
  float: right;
  margin-left: 10px;
  margin-right: 0;
}
.bottombar ul li {
  display: block;
  float: left;
  font-size: 13px;
}
.bottombar ul li a {
  display: block;
  float: none;
  padding: 10px 10px 11px;
  line-height: 19px;
  text-decoration: none;
}

.bottombar ul.primary-nav li ul {
  left: 0;
}
.bottombar ul.secondary-nav li ul {
  right: 0;
}
.bottombar ul li.menu {
  position: relative;
}
.bottombar ul li.menu a.menu:after {
  width: 0px;
  height: 0px;
  display: inline-block;
  content: "&uarr;";
  text-indent: -99999px;
  vertical-align: top;
  margin-top: 8px;
  margin-left: 4px;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #fff;
  filter: alpha(opacity=50);
  -khtml-opacity: 0.5;
  -moz-opacity: 0.5;
  opacity: 0.5;
}

.bottombar ul li.menu.open ul {
  display: block;
}

.bottombar ul li.menu.open ul li.active a {
  font-weight: bold;
}
.bottombar ul li ul {
  background-color: #333;
  float: left;
  display: none;
  position: absolute;
  bottom: 40px;
  min-width: 160px;
  max-width: 220px;
  _width: 160px;
  margin-left: 0;
  margin-right: 0;
  padding: 0;
  text-align: left;
  border: 0;
  zoom: 1;
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
 
  -webkit-box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.6);
  box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.6);
}
.bottombar ul li ul li {
  float: none;
  clear: both;
  display: block;
  background: none;
  font-size: 12px;
}
.bottombar ul li ul li a {
  display: block;
  padding: 6px 15px;
  clear: both;
  font-weight: normal;
  line-height: 19px;
  color: #bbb;
}
.bottombar ul li ul li.divider {
  height: 1px;
  overflow: hidden;
  background: #222;
  background: rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  margin: 5px 0;
}
.bottombar ul li ul li span {
  clear: both;
  display: block;
  background: rgba(0, 0, 0, 0.2);
  padding: 6px 15px;
  cursor: default;
  color: #808080;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.project-nav{width:220px; display:block;padding:4px;line-height:1;border:1px solid #ddd;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;-webkit-box-shadow:0 1px 1px rgba(0, 0, 0, 0.075);-moz-box-shadow:0 1px 1px rgba(0, 0, 0, 0.075);box-shadow:0 1px 1px rgba(0, 0, 0, 0.075);}
.project-header, .project-nav{font-weight:bold; color: #fff; font-size:x-large; text-transform: lowercase; letter-spacing:0.1em; font-family: Georgia, Garamond, Times, serif; font-variant:small-caps; text-align: center; text-shadow: 0px 1px 0px #C0C0C0; padding-top: 8px; padding-bottom: 8px; }
.project-header:first-letter{text-transform: uppercase;}
.project-nav:first-letter{text-transform: uppercase;}
.project-nav{margin-left:20px; float:left; font-size: large;}
.project-header{ height: 20px; background-color: #303030;  }
/*@TODO: fix media of the project-nav fluidity */
@media (max-width: 480px){.project-nav{margin-left:0px; float:left; font-size: small;}


