{% extends "base.html" %}
{% load comments %}
{% block title %}
video: {{video.title}}
{% endblock %}

{% block content %}
<h1> Comments </h1>
{% get_comment_count for video as comment_count %}
<p>{{ comment_count }} comments have been posted. </p>

{% render_comment_list for video %}

{% if user.is_authenticated %}
{% with video.get_absolute_url as next %}
{% get_comment_form for video as form %}
<form action="{% comment_form_target %}" method="POST">
{% csrf_token %}
{{ form.comment }}
<div id="honeypotField">
{{ form.honeypot }}
</div>
{{ form.content_type }}
{{ form.object_pk }}
{{ form.timestamp }}
{{ form.security_hash }}
<br />
<input name="next" type="hidden" value="{{ next }}" />
<input type ="submit" value="Add Comment" id="id_submit" />
</form>
{% endwith %}

{% else %}
    <p> Please <a href="http://127.0.0.1:8000/admin/">login</a> to post a comment. </p>
{% endif %}
{% endblock %}