django==1.4
South==0.7.4
pil==1.1.7
django-storages==1.1.4
boto==2.3.0
django-extensions==0.8
python-documentcloud==0.151
django-social-auth==0.6.7
django-ckeditor==0.0.9
easy_thumbnails==1.0-alpha-20
django_compressor==1.1.2
django-tastypie==0.9.11
-e git://github.com/toastdriven/django-haystack.git#egg=django_haystack
Whoosh==2.3.2
django_inlines==0.7.4

-e git+https://github.com/BayCitizen/django-doccloud.git#egg=django-doccloud