{% extends "banner_base.html" %}
{% load thumbnail %}
{% load comments %}

{% block title %}act{% endblock %}

{%block banner%} {{project.title}} {%endblock%}

{% block extrahead %}
	<style type="text/css">
		.span3>p {
			color: white !important;
			overflow-y: auto !important;
			font-family:sans-serif !important;
			font-size: 10.5pt !important;
			max-height: 250px;
		}
	</style>
{% endblock %}

{% block banner_body %}
	
	<div class="span12" id="view9" style="margin-top: 30px">
	{% for act in project.act_set.all %}
	<div class="span3">
		<img src="{% thumbnail act.image 220x147 %}"/>
		<p style="margin-top: 30px">{{act.text|safe}}</p>
	</div>
	<div class="gallery_spacer">
			&nbsp
	</div>
	
	{% if forloop.counter|divisibleby:"3" %}
		</div> <!-- end span12, start new one -->
		<div class="span12" id="view9" style="margin-top: 30px">
	{% endif %}
	{% endfor %}
	</div>

{% endblock %}