{% extends "banner_base.html" %}
{% load thumbnail %}
{% load comments %}

{% block title %}act{% endblock %}

{%block banner%} {{project.title}} {%endblock%}

{% block banner_body %}

	<style type="text/css">
		.span3>p {
			color: white !important;
			overflow-y: auto !important;
			font-family:sans-serif !important;
			font-size: 10.5pt !important;
			max-height: 250px;
		}
	</style>

	 <div class="span12" id="view9">
	{% for act in project.act_set.all %}
	<div class="span3">
		<p class="act_image"> <img src="{% thumbnail act.image 150x150 %}"/></p>
		<p>{{act.text|safe}}</p>
	</div>
	<div class="gallery_spacer">
			&nbsp
	</div>
	
	{% if forloop.counter|divisibleby:"3" %}
		</div> <!-- end span12, start new one -->
		<div class="span12" id="view9">
	{% endif %}
	{% endfor %}
	</div>

{% endblock %}