{% extends "base.html" %}

{% block body %}

<script type="text/javascript">

$(document).ready(function (){
	determinePage(window.location.pathname);
    $(".carousel-ready.overflow-hidden").carousel({"overflow":"hidden"});
    $(".carousel-ready").carousel();
    $(".single_image").fancybox({ 'hideOnContentClick': false,'zoomSpeedIn': 300, 'zoomSpeedOut': 300, 'overlayShow': true });
    $("#journalist").fancybox( {'hideOnContentClick': false,'zoomSpeedIn': 300, 'zoomSpeedOut': 300, 'overlayShow': true, 'scrolling':'no', 'height': 475, 'width': 960 });
    $("#exif").fancybox();
    $("#commenters").fancybox();
});
</script>

<div class="row-fluid" style="padding-left: 20px; padding-top: 5px;">
	<div class="gallery_banner" style="background-color: {{ project.primaryColor }}">
		<p class="banner_text">
		{% block banner %}
		{% endblock %}
		</p>
	</div>
</div>

<!-- Side Bar -->
<div class="row-fluid">
	<div class="span13" style="margin-left:0;">
		<div class="span1" style="background-color: {{ project.primaryColor }}; height:450px; width:30px; margin-left: 22px; position: absolute;">
		<div class="side_banner">
			<a href="/projects/{{project.slug}}/info">
			<div id="link_info" class="link_info" style="background-color: {{project.primaryColor}}">
				<p id="blip_info" class="blip_info" style="background-color: {{project.primaryColor}};">info</p> 
			</div></a>

			{% if project.photo_set.all %}
			<a href="/projects/{{project.slug}}/photos/">
			<div id="link_photo" class="link_photo" style="background-color: {{project.primaryColor}}">
				<p id="blip_photo" class="blip_photo" style="background-color: {{project.primaryColor}};">photos</p> 
			</div></a>
			{% endif %}
			
			<!-- @TODO: clean up this video link.... what's the cover video? -->
			{% for video in project.video_set.all|slice:":1" %}
			<a href="/projects/{{project.slug}}/videos/{{video.id}}/">
			<div id="link_video" class="link_video" style="background-color: {{project.primaryColor}}">
				<p id="blip_video" class="blip_video" style="background-color: {{project.primaryColor}};">videos</p> 
			</div>
			</a>
			{% endfor %}
			
			{% if project.story_set.all %}
			<a href="/projects/{{project.slug}}/stories/">
			<div id="link_story" class="link_story" style="background-color: {{project.primaryColor}}">
				<p id="blip_story" class="blip_story" style="background-color: {{project.primaryColor}};">stories</p>
			</div>
			</a>
			{% endif %}
			
			{% if project.blog_set.all %}
			<a href="/projects/{{project.slug}}/blog/">
			<div id="link_blog" class="link_blog" style="background-color: {{project.primaryColor}}">
				<p id="blip_blog" class="blip_blog" style="background-color: {{project.primaryColor}};">blogs</p> 
			</div>
			</a>
			{% endif %}
			{% if project.journalists %}
			<a href="/projects/{{project.slug}}/contributors/">
			<div id="link_contributor" class="link_contributor" style="background-color: {{project.primaryColor}}">
				<p id="blip_contributor" class="blip_contributor" style="background-color: {{project.primaryColor}};"> contri-<br />butors</p>
			</div>
			</a>
			{% endif %}
		</div>			
		</div>
		
		<!-- Inside content -->
		<div class="span11" style="padding-top: 20px; height: 420px; margin-left: 100px;">
			{% block banner_body %}
			
			{% endblock %}
		</div>
		<!-- Breadcrumbs --> 
			<div class="bottom_banner" style="background-color: {{ project.primaryColor }}">
				<div class="bottom_banner_text"> {{project.tagline}} </div>
			</div>
			</div>

	</div>
</div>
{% endblock %}