{% extends "base.html" %}

{% block body %}
<div class="row-fluid" style="padding-left: 40px; padding-top: 5px;">
	<div class="gallery_banner" style="background-color: {{ project.primaryColor }}">
		<p class="banner_text">
		{% block banner %}
		{% endblock %}
		</p>
	</div>
</div>

<!-- Side Bar -->
<div class="row-fluid">
	<div class="span12">
		<div class="span1" style="background-color: {{ project.primaryColor }}; height:450px; width:30px; margin-left: 22px;">
			<img class="nav_image" src="/s/static/info_icon.png"/ style="padding-top: 10px;">
			<img class="nav_image" src="/s/static/photo_icon.png"/>
			<img src="/s/static/video_icon.png"/>
			<img src="/s/static/stories_icon.png"/>
			<img src="/s/static/back_icon.png"/>
		</div>
		
		<!-- Inside content -->
		<div class="span11" style="padding-top: 30px; height: 420px">
			{% block banner_body %}
			
			{% endblock %}
		</div>
		
		<!-- Breadcrumbs --> 
		<div class="row-fluid" style="margin-left: 20px">
			<img src="/s/static/Breadcrumbs.png" width="440px"/>
		</div>
	</div>
</div>
{% endblock %}