{% load compress %}

<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->
	{% load i18n %}
	<head>
		<meta charset="utf-8">
		<meta name="description" content="">
		<meta name="author" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<meta name="apple-mobile-web-app-capable" content="yes"/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		
		<title>jaam | {% block title %}{% endblock %}</title>
        {% compress css %}
        <link rel="stylesheet" href="/s/static/common/css/style.css">
        <link rel="stylesheet" href="/s/static/common/bootstrap/bootstrap.min.css">
        <link rel="stylesheet" href="/s/static/dora/styles/pages.css">
        <link rel="stylesheet" href="/s/static/api_demo/style/style.css">
        {% endcompress %}
		
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
		{% compress js %}
		<script src="/s/static/dora/scripts/pages.js"></script>
		<script src="/s/static/common/js/modernizr-2.0.6.min.js"></script>
		<script src="/s/static/dora/scripts/jquery-ui-1.8.7.custom.min.js"></script>
		<script src="/s/static/dora/scripts/jquery.ui.ipad.js"></script>
		<script src="/s/static/api_demo/script/jquery.mobile.carousel.js"></script>
		<script src="/s/static/common/js/popup.js"></script>
		<script src="/s/static/common/js/plugins.js"></script>
		{% endcompress %}		
		<!--[if lt IE 7 ]>
			<script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js"></script>
			<script>window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})</script>
		<![endif]-->
	</head>
	
	<body style="height:100%; width:100%; background-color: #262626;">
		<div class="container-fluid">
		{% block body %}

		{% endblock %}
		</div>
		
		<!-- Footer -->
		<div id="footer">
			<div id="nav">
				<a href="/"><div id="logo"></div></a>
				<div class="nav_item"><a href="/projects">PROJECTS</a></div>
				<div class="nav_item"><a href="/about">ABOUT</a></div>
				<div class="nav_item"><a href="/act">ACT</a></div>
				<div id="social">
					<a href="https://twitter.com/share?url={{ request.get_full_path }}">
						<img src="/s/static/api_demo/img/twitter-white.png"/>
					</a>
					<a href="https://www.facebook.com/sharer.php?u={{ request.get_full_path }}&amp;t={{ title }}">
						<img src="/s/static/api_demo/img/facebook-white.png"/>
					</a>
				</div>
			</div>
		</div>
		
		<!-- Change UA-XXXXX-X to be your site's ID -->
		<script>
			window._gaq = [['_setAccount','UAXXXXXXXX1'],['_trackPageview'],['_trackPageLoadTime']];
			Modernizr.load({
				load: ('https:' == location.protocol ? '//ssl' : '//www') + '.google-analytics.com/ga.js'
			});
		</script>  
	</body>
</html>
