{% load compress %}
<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->
    {% load i18n %}
    <head>
        <meta charset="utf-8">
        <meta name="description" content="">
        <meta name="author" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <meta name="apple-mobile-web-app-capable" content="yes"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        
        <title>{% block title %}{% endblock %} | UNL Global Eyewitness</title>
                <!-- our custom font for the project -->        
        <link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>

        {% compress css %}
        <!-- html5 boilerplate -->
        <link rel="stylesheet" href="/s/static/third_party/html5-boilerplate/style.css">

        <!-- stock bootstrap -->
        <link rel="stylesheet" href="/s/static/third_party/bootstrap-2.0.2/css/bootstrap.min.css">

        <!-- our custom style sheets -->
        <link rel="stylesheet" href="/s/static/common/css/bootstrap.extractions.css">
        <link rel="stylesheet" href="/s/static/common/css/style.extractions.css">

        <link rel="stylesheet" href="/s/static/common/css/pages.css">
        <link rel="stylesheet" href="/s/static/common/css/app.css">
        <link rel="stylesheet" href="/s/static/common/css/site-nav.css">

        <!-- fancybox css -->
        <link rel="stylesheet" href="/s/static/third_party/jquery.fancybox-1.3.4/fancybox/jquery.fancybox-1.3.4.css" type="text/css" media="screen" />

        <!-- zocial icons -->
        <link rel="stylesheet" href="/s/static/third_party/css-social-buttons-e27101ffd6/zocial.css">
        {% endcompress %}


        {% compress js %}
        <!-- html5 boilerplate -->
        <script src="/s/static/third_party/html5-boilerplate/logging.js"></script>

        <!-- good ole jquery/ui -->   
        <script type="text/javascript" src="/s/static/third_party/jquery-1.7.2/jquery.min.js"></script>
        <script type="text/javascript" src="/s/static/third_party/jquery-ui-1.8.18/js/jquery-ui-min.js"></script>

        <!-- modernizr (do we even use this, anywhere) -->
        <script src="/s/static/third_party/modernizr-2.5.3/modernizr.js"></script>

        <!-- fancybox js -->
        <script type="text/javascript" src="/s/static/third_party/jquery.fancybox-1.3.4/fancybox/jquery.fancybox-1.3.4.pack.js"></script>
        <script type="text/javascript" src="/s/static/third_party/jquery.fancybox-1.3.4/fancybox/jquery.easing-1.3.pack.js"></script>
        <script type="text/javascript" src="/s/static/third_party/jquery.fancybox-1.3.4/fancybox/jquery.mousewheel-3.0.4.pack.js"></script>
            
        <!-- jquery ui simulate -->
        <script src="/s/static/third_party/jquery.simulate-e2a6cdd525/jquery.simulate.js"></script>

        <!-- jquery ui for ipad and iphone -->
        <script src="/s/static/third_party/jquery-ui-for-ipad-and-iphone-2011-02-16/jquery.ui.touch.js"></script>

        <!-- our custom javascript -->
        <script src="/s/static/common/js/pages.js"></script>
        <script src="/s/static/common/js/popup.js"></script>
        <script src="/s/static/common/js/color-converter.js"></script> <!-- TODO: What's up with this still? -->
        <script src="/s/static/common/js/login.js"></script>
        <script src="/s/static/common/js/share.js"></script>
        <script src="/s/static/common/js/site-nav.js"></script>
        <!--<script src="/s/static/common/js/apple-fix.js"></script>-->
        <!-- nick's wonderful fork of the carousel plugin -->
        <script src="/s/static/common/js/nicks-mobile-carousel-fork/jquery.mobile.carousel.js"></script>
        {% endcompress %}

        {% block extrahead %}

        {% endblock %}

        <!--[if lt IE 7 ]>
            <script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js"></script>
            <script>window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})</script>
        <![endif]-->
    </head>
    
    <body style="height:100%; width:100%; background-color: #262626;">
        <div class="container-fluid container-center">
        {% block body %}

        {% endblock %}
        </div>
        
        <!-- Header -->
        <div id="header" >
            <div class="user_login">

                {% if user.is_authenticated %}
                    <a href="/users/{{user.username}}">{{ user.get_profile.full_name }} (Profile)</a>
                    &nbsp; | &nbsp;
                    <a href="/logout">Logout</a>
                {% else %}
                    <a id="login-link" href="#login-popup">Login</a>
                    <div style="display:none">
                        <div id="login-popup" style="background-color: #262626">
                            <h3>Login</h3>                            
                            <a href="{% url socialauth_begin 'facebook' %}" class="zocial facebook"><span>Sign in with Facebook</span></a><br/>
                            <a href="{% url socialauth_begin 'twitter' %}" class="zocial twitter"><span>Sign in with Twitter</span></a><br/>
                            <a href="{% url socialauth_begin 'google' %}" class="zocial google"><span>Sign in with Google</span></a><br/>
                            <a href="#openid-login-box" class="zocial openid" id="openid-login"><span>Sign in with OpenID</span></a>
                            <div style="display: none">
                                <div id="openid-login-box" class=".form-inline" class="form-inline" style="padding: 15px 15px 0px 15px" >
                                    <h3>OpenID Login</h3>
                                    <br/>
                                    <form action="{% url socialauth_begin 'openid' %}" type="get" style="color: #000">
                                        <input type="text" name="openid_identifier" placeholder="OpenID URL" class="input-large" />
                                        <button type="submit" class="btn btn.primary">Login</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
            &nbsp; | &nbsp; &nbsp;
            <div class="search">
                 <form method="get" action="/search" id="search">
                    <input name="q" type="text" size="40" placeholder="Search..." />
                </form>
            </div>

        </div>
        
        <!-- Footer -->
        <div id="footer">
            <div id="nav">
                <a href="/"><div id="logo"></div></a>
                <div class="nav_item"><a href="/projects/">PROJECTS</a></div>
                <div class="nav_item"><a href="/about/">ABOUT</a></div>
                <div class="nav_item"><a id="act_url" href="/act/">ACT</a></div>

                <div class="nav_item">
                    <a id="share-link" href="#share-popup">
                        <div class="share_img">
                            <p class="share_p">SHARE</p>
                        </div>
                    </a>
                </div>
            </div>

            <div style="display:none">
                <div id="share-popup" style="background: #262626">
                    <h2>Share</h2>
                    <a href="#" id="share-facebook-btn" class="zocial facebook"><span>Share to Facebook</span></a><br/>
                    <a href="#" id="share-twitter-btn" class="zocial twitter"><span>Tweet via Twitter</span></a><br/>
                    <a href="#" id="share-pinterest-btn" class="zocial pinterest"><span>Pin to Pinterest</span></a>
                </div>
            </div>
        </div>

        <script type="text/javascript">
          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', '{{ GOOGLE_UA_ID }}']);
          _gaq.push(['_trackPageview']);
          
          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();
        </script>
    </body>
</html>
