{% extends "banner_base.html" %}
{% load thumbnail %}
{% load comments %}

{% block title %}video{% endblock %}

{%block banner%} {{video.project.title}} {%endblock%}

{% block banner_body %}
		<div class="span8">
			<iframe width="620" height="350" src="{{video.getEmbedLink}}" seamless="seamless" frameborder="0" allowfullscreen>You need a Frames Capable browser to view this content.</iframe>
			<p class="title">{{video.title}}:&nbsp;&nbsp;<span class="video_caption">{{video.caption}}</span></p>
		</div>
		
		<!-- @TODO: Write a method to exclude the displayed video; make SWIPEABLE -->
		<div style="padding-left: 20px; height: 350px; overflow-y:auto; overflow-x: hidden"> 
		{% for videoObj in video.project.video_set.all %}
			<a href="{{videoObj.get_absolute_url}}">
			<div class="span2">
				<img src="{{videoObj.getEmbedImage}}" width="105px"/>
			</div>
			<div class="span2">
			<p class="video_sidebar">{{video.title}}</p>
			</div>
			</a>
		{% endfor %}
		</div>

{% endblock %}