{% extends "banner_base.html" %}
{% load thumbnail %}
{% load comments %}

{% block title %} videos {% endblock %}

{%block banner%} {{project.title}} {%endblock%}

{% block banner_body %}
		<div class="span8" style="margin-top: -20px">
			<iframe width="620" height="350" src="{{video.getEmbedLink}}" frameborder="0" controls="1" allowfullscreen="">You need a Frames Capable browser to view this content.</iframe>
			<p class="title_video" >{{video.title}}:&nbsp;&nbsp;<span class="video_caption">{{video.caption}}</span>
			<br /> <span style="font-size: 8pt; font-style: italic;">Video by {{video.journalist}} </span></p>
		</div>
		
		<div style="padding-left: 20px; height: 350px; overflow-y:auto; overflow-x: hidden"> 
		{% for videoObj in video.project.video_set.all %}
			{% if videoObj.videoId != video.videoId %}
			<a href="{{videoObj.get_absolute_url}}">
			<div class="span2">
				<img src="{{videoObj.getEmbedImage}}" width="105px"/>
			</div>
			<div class="span2">
			<p class="video_sidebar">{{videoObj.title}}</p>
			</div>
			</a>
			{% endif %}
		{% endfor %}
		</div>

{% endblock %}