{% extends "banner_base.html" %}
{% load thumbnail %}
{% load comments %}

{% block title %} videos {% endblock %}

{%block banner%} {{project.title}} {%endblock%}

{% block banner_body %}
<div class="span12">
		<div class="span8">
			<iframe width="620" height="350" src="{{video.getEmbedLink}}" frameborder="0" controls="1" allowfullscreen="">You need a Frames Capable browser to view this content.</iframe>
			<p style="font-size: 11pt; color: white; font-weight: bold; padding-top: 5px; height: 55px; overflow-y: auto" >{{video.title}}:&nbsp;&nbsp;<span style="font-size: 10pt; color: white; font-weight: normal">{{video.caption}}</span>
			<br /> <span style="font-size: 10pt; font-style: italic;">Video by {{video.journalist}} </span></p>
		</div>
		
		<div style="padding-left: 20px; height: 350px; overflow-y:auto; overflow-x: hidden"> 
		{% for videoObj in video.project.video_set.all %}
			{% if videoObj.videoId != video.videoId %}
			<a href="{{videoObj.get_absolute_url}}">
			<div class="span2">
				<img src="{{videoObj.getEmbedImage}}" width="105px"/>
			</div>
			<div class="span2">
			<p class="video_sidebar">{{videoObj.title}}</p>
			</div>
			</a>
			{% endif %}
		{% endfor %}
		</div>
</div>
{% endblock %}