{% extends "banner_base.html" %}
{% load thumbnail %}
{% load comments %}

{%block banner%} {{project.title}} {%endblock%}

{% block banner_body %}

<div class="span12">
<div class="font11">
		
	<div class="span4" height="450px">
		<img style="padding-bottom: 10px;" src="{% thumbnail blog.cover_photo.image 200x250 %}">
		<p class="title_body"> {{blog.title}}</p>
		<p class="description" style="height: 200px; margin-top: -15px;"> {{blog.description|safe}}</p>
	</div>
		
	<!-- @TODO: make SWIPEABLE (vertically) -->
	<div class="span7" style="overflow-y: auto; overflow-x: hidden; max-height: 400px">
		{% for post in blog.blogpost_set.all %}
			<div class="row" style="padding-bottom: 10px;">
			
			<div id="imageDiv" class="span2"> 
				<img src="{% thumbnail post.cover_photo.image 156x96 %}">
			</div>
			
			<div class="span3">

				<p class="side_title"><a href="#{{post.title|safe}}" onclick="popup('{{post.title|safe}}')">
				<img src="/s/static/profile_arrow.png"/>{{post.title|safe}}</a></p>

				<p class="description"> {{post.description|safe}}  </p>
				
				<div class="span1">
					<div id="blanket" style="display:none;">
					</div>
					<div id="{{post.title|safe}}" style="display:none;" class="blog_popUp">

						<a href="/projects/{{project.slug}}/blog/{{blog.slug}}/" onclick="popup('{{post.title|safe}}'); " style="float: right;">
							<img src="/s/static/close.png" height="25px" width="25px" />
						</a>
						<div class="description">
							<p class="title_body">
							<img  class="text_image" src="{% thumbnail post.cover_photo.image 182x112 %}"/>
					 		 {{post.title|safe}} <br/> <br/>
					 		<span class="post"> {{post.body|safe}} </span> </p>		 		

					 	</div>
					</div>
				</div>
			</div>
			</div>
		{%endfor %}
	</div>
</div>
</div>
{% endblock %}
