{% extends "banner_base.html" %}
{% load thumbnail %}
{% load comments %}

{%block banner%} {{project.title}} {%endblock%}

{% block banner_body %}


<div class="span12">
	<div class="span4" height="450px">
		<img style="padding-bottom: 10px;" src="{% thumbnail blog.cover_photo.image 200x250 %}"/>
		<p class="title_body"> {{blog.title}}</p>
		<p class="description" style="height: 200px; margin-top: -15px;"> {{blog.description|safe}}</p>
	</div>
		
	<!-- @TODO: make SWIPEABLE (vertically) -->
	<div class="span7" style="overflow-y: auto; overflow-x: hidden;">
		{% for post in blog.blogpost_set.all %}
			<div class="row" style="padding-bottom: 10px;">
			
			<div id="imageDiv" class="span2"> 
				<img src="{% thumbnail post.cover_photo.image 156x96 %}">
			</div>
			
			<div class="span3">
				<p class="side_title"><a href="projects/{{project.slug}}/blog/{{blog.slug}}/posts/{{post.slug}}/" class="iframe" rel="blog_posts">
				
					<img src="/s/static/profile_arrow.png"/>{{post.title|safe}}</a></p>
					 
					<p class="description"> {{post.description|safe}}  </p>

			</div> <!--  end span3 -->
			</div> <!-- end row -->
			</div>
		{%endfor %}
	</div> <!-- end span7 -->
</div>
</div></div>

{% endblock %}
