{% extends "banner_base.html" %}
{% block body %}

	<div class="journalist-profile" style="margin-top: 13%; margin-left: 10%;">
	<script type="text/javascript">
		$(document).ready(function (){
            $("#header").hide();
			$("#footer").hide();
		})
	</script> 
	<style type="text/css">
			body {
			background-color: #555555 !important;
		}
			.post_description, .post_description>p {
			background-color: #555555 !important;
			color: white !important;
			padding: 5px !important; 
			overflow-y: auto !important;
			font-family:sans-serif !important;
		}
	</style>

		<div class="post_description">
			<p class="title_body">
	 		 		{{post.title|safe}} </p>
	 		<p style="margin-top: -60px"> {{post.body|safe}} </p> 
	 		<p style="font-stlye: italic; margin-top: -10px"> --{{post.author.get_profile.full_name}} </p>	 		
		</div>

</div> 

{% endblock %}


