{% extends "banner_base.html" %}
{% load inlines %}

{% block body %}

	<div class="journalist-profile" style="margin-top: 20%; overflow-x: auto;">

	<script type="text/javascript">
		$(document).ready(function (){
            $("#header").hide();
			$("#footer").hide();
		})
	</script> 
	<style type="text/css">
			body {
			background-color: #555555 !important;
		}

		.post_description, .post_description>p {
			background-color: #555555 !important;
			color: white !important;
			padding: 5px !important; 
			overflow-y: auto !important;
			font-family:sans-serif !important;
			font-size: 10.5pt !important;
		}

		
	</style>

		<div class="post_description" style="-moz-column-count:3; -webkit-column-count:3; column-count:3; height: 410px; width: 750px; overflow-x: auto">
			<h2 style="color: white">{{post.title|safe}} </h2>
	 		<h5 style="font-size: 10pt; font-style: italic"> By {{post.journalist.get_profile.full_name}} </h5>
	 		<p> {% process_inlines post.body %} </p>

		</div>

</div> 

{% endblock %}


