{% extends 'admin/change_form.html' %}

{% block extrahead %}
{{block.super}}
<script>
(function($) {
    var update_photo_gallery_project_photos = function(project_id, callback) {
        $.getJSON('/api/v1/photo',{'project':project_id, 'show_unpublished':true}, function(data) {
            $('select[id^=id_photogalleryitem_set]').each(function(i, select) {
                var photo_select = $(select);
                photo_select.empty();
                photo_select.append('<option>---------</option>')
                $.each(data.objects, function(index, photo) {
                    photo_select.append('<option value="'+photo.id+'">'+photo.title+'</option>');
                });
            });
            callback();
        });
    }

    $(document).ready(function(){
        var photo_gallery_ids = $('select[id^=id_photogalleryitem_set]').map(function (i, e) {
            return $(e).val();
        });
        update_photo_gallery_project_photos($('#id_project').val(), function() {
            $('select[id^=id_photogalleryitem_set]').each(function(i, select) {
                var photo_select = $(select);
                photo_select.val(photo_gallery_ids[i]);
            });
        });

        $('#id_project').change(function() {
            var project_id = $(this).val(); 
            update_photo_gallery_project_photos(project_id);
        });
    });
})(django.jQuery)
</script>
{% endblock %}
