{% extends 'admin/change_form.html' %}

{% block extrahead %}
{{block.super}}
<script>
(function($) {
    $(document).ready(function(){
        $('#id_project').val(function() {
            var opener = window.opener;
            if (opener) {
                var elem = opener.document.getElementById("id_project");
                var project_id = $(elem).val();
                return project_id;
            }
            return false;
        });
        $('#id_image').change(function(){
            var imageName = $(this).val().replace("C:\\fakepath\\", "" );
            imageName = imageName.substr(0, imageName.lastIndexOf('.')) || imageName;
            $('#id_title').val(imageName).focus().blur();
        });
    });
})(django.jQuery)
</script>
{% endblock %}
