<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
	<link rel="stylesheet" href="/s/static/tico/styles/mapStyle.css">
	<link rel="stylesheet" href="http://twitter.github.com/bootstrap/1.4.0/bootstrap.min.css">
	<script type="text/javascript"
	    src="http://maps.googleapis.com/maps/api/js?sensor=false">
	</script>
	<script defer src="/s/static/tico/scripts/map.js">
	</script>
</head>
<body onload="initialize()">
	<div class="topbar">
	    <div class="fill">
	        <div class="container">
	            <h2 style="color: white;">jaam &gt;&gt; {{project.title}}</h2>
	        </div>
	    </div>
	</div>
	<div id="map_canvas" style="width:85%; height:95%; float:left; margin-top: 3%"></div>	
	<div id="project_sidebar" style="width:15%; height:95%; margin-top: 3%; float:right">	
		<h2 style="color:black; margin-left:5px">Projects</h2>	
		<div id="project_list" style="">
		<ul id="list">
		{% for project in projects %}
		    <li style="color: #000000"><h4><a href="{{project.get_absolute_url}}">{{project.title}}</a>
		    <div type="hidden" name="{{project.title}}" lat="{{project.latitude}}" long="{{project.longitude}}"></div></h4></li>
		{% endfor %}
		</ul>
		</div>
	</div>
</body>
</html>