<link rel="stylesheet" href="http://twitter.github.com/bootstrap/1.4.0/bootstrap.min.css">
<div class="row">
    <div class="span6">
        <h1>{{project.title}}</h1>
        <div style="margin: 10px; background-color: gray; width: 200px; height: 200px;"></div>
        <span>
            {{project.description|safe}}
        </span>
        <h2>Contributors</h2>
        <ul>
        {% for contributor in contributors %}
            <li>{{contributor.username}}</li>
        {% endfor %}
        </ul>
    </div>
    <div class="span10">
    <h2>Stories</h2>
    {{project.story_set.all.count}} Stories
    <span>{{story.body|safe}}</span>
    <h2>Photos</h2>
    {% for photo in photos %}
        <a href="{{photo.get_absolute_url}}">
            <img style="float: left; margin: 10px; width: 150px; height: 150px; border: 1px solid gray" src="{{photo.image.url}}">
        </a>
    {% endfor %}
    <div class="row">
        <div class="span5">
        <h2>Video</h2>
        <h3>{{video.title}}</h3>
        <div style="margin: 10px; background-color: gray; width: 200px; height: 200px;"></div>
        </div>
        <div class="span5">
        <h2>Blog</h2>
        <h3>{{blog_post.headline}}</h3>
        {{blog_post.description|safe}}
        </div>
    </div>
    </div>
</div>
