{% load comments %}
{% load thumbnail %}
<script>
$(document).ready(function() {
    
    $("input[name='submit']").click(function() {
        var next_url = location.protocol + '//' + location.host + location.pathname;
        console.log($(this).siblings("input[name='next']"));
        console.log($(this).siblings("input[name='next']").val());
        $("input[name='next']").val(next_url);
        console.log($(this).siblings("input[name='next']").val());
        // this will break if the form ever has something wrap the submit button
        $(this).closest("form").submit()
    });
        
});
</script>
<div id="comment-list">
    {% get_comment_list for item as comment_list %}
    {% get_comment_count for item as count %}
    <h3>Comments ({{ count }})</h3>
    {% for comment in comment_list %}
    <div class="row">
        <a href="/users/{{comment.user.username}}"><img src="{% thumbnail comment.user.get_profile.avatar 85x85 %}" /></a>
        <h6>Posted by {{ comment.user_name }} on {{ comment.submit_date }}</h6>
        <p class="comment">{{ comment.comment }}</p>
    </div>
    {% endfor %}
</div>
<div id="comment-form">
    {% if user.is_authenticated %}
    {% get_comment_form for item as form %}
    <h3>Add to the Chatter</h3>
    <form action="{% comment_form_target %} " method="post">
        {% csrf_token %}
        {{ form.comment }}
        <p style="display:none">
            {{ form.honeypot }}
            {{form.user }}
            {{ form.content_type }}
            {{ form.object_pk }}
            {{ form.timestamp }}
            {{ form.security_hash }}
        </p>
        <br />
        <input type="submit" name="submit" value="Post Comment">
        <br />
        <input type="hidden" name="next" value="THIS_SHOULD_NOT_BE_HERE" />
    </form>
    {% else %}
    <h2>Please<a id="login-link" href="#login-popup">Login</a>to post comments.</h2>
    {% endif %}
</div>