<div id="exif_data" class="exif_div" style="min-height: 350px; min-width: 750px; padding: 25px; background-color: #666; padding-left: 20px">
    <div class="span7">
        <p class="exif" style="-moz-column-count:2; -webkit-column-count:2; column-count:2; color: white; font-size: 12pt; font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; line-height: 2 ">
          Camera Manufacturer: {{first_photo.exif_data.camera_manufacturer}} <br />
          Model: {{first_photo.exif_data.camera_model}} <br />
          Date Taken: {{first_photo.exif_data.date}} <br />
          Shutter Speed: {{first_photo.exif_data.shutter_speed}} <br />
          Fnumber:{{first_photo.exif_data.fnumber}} <br />
          Focal Length: {{first_photo.exif_data.focal_length}} <br />

          Flash: {{first_photo.exif_data.flash_used}} <br />
          Height: {{first_photo.exif_data.height_dimension}} <br />
          Width: {{first_photo.exif_data.width_dimension}} <br />
          GPS lat: {{first_photo.exif_data.gps_latitude}} <br />
          GPS long: {{first_photo.exif_data.gps_longitude}} <br />
          Altitude: {{first_photo.exif_data.altitude}} <br />
      </p>
  </div>

      
  </div>