{% extends "banner_base.html" %}
{% load thumbnail %}

{% block title %} {{project.title}} | {{gallery.title}} {% endblock %}

{% block banner %} {{gallery.title}} {% endblock %}

<script type="text/javascript">
	function moveRight() {
		window.location('google.com');
	}
</script>

{% block banner_body %}
<ul class="carousel-ready overflow-hidden">
	{% for first_photo in photos_swipe %}
	<li id="listitem" class="listitem"> <!-- TODO: Change Page URL on Swipe -->
	<div class="span12">
	
			<div class="span7">

			<div style="display:none"><div id="comments" class="exif_div"> <p> Comments go here. </p> </div></div>
			
			<div style="display:none; min-height: 500; min-width: 300;  margin-top: -60px;">
			<div id="exif_data" class="exif_div">
				<p><br/>
				 Camera Manufacturer: {{first_photo.exif_data.camera_manufacturer}}<br/>
				 Model: {{first_photo.exif_data.camera_model}}<br/>
			     Date Taken: {{first_photo.exif_data.date}}<br/>
			     Shutter Speed: {{first_photo.exif_data.shutter_speed}}<br/>
			     Fnumber:{{first_photo.exif_data.fnumber}}<br/>
			     Focal Length: {{first_photo.exif_data.focal_length}}<br/>
			     Flash: {{first_photo.exif_data.flash_used}}<br/>
			     Height: {{first_photo.exif_data.height_dimension}}<br/>
			     Width: {{first_photo.exif_data.width_dimension}}<br/>
			     GPS lat: {{first_photo.exif_data.gps_latitude}}<br/>
			     GPS long: {{first_photo.exif_data.gps_longitude}}<br/>
			     Altitude: {{first_photo.exif_data.altitude}}<br/>
			    </p>
			</div></div>
				<a class="single_image" rel="gallery_group" href="{% thumbnail first_photo.image 900x600 %}">
					<div id="imgBox">
						<img src="{% thumbnail first_photo.image 520x347 %}"/>
					</div>

				</a>
			</div>
			<div class="span3" style="height: 315px">
				
				<h2 style=" margin-top: -5px">{{first_photo.title}}</h2>

				<h4 style="font-weight: normal">{{first_photo.caption}}</h4>
				<br/>
				 <p style="font-size:11pt;"> <a style="color: white" href="#comments" id="commenters"> Comments |</a> <a style="color: white" id="exif" href="#exif_data">EXIF Data</a></p>
				
				<br/>
				<p> 
					<a style="color: white; font-weight: bold" href="/users/{{user.username}}?embedded=true" class="iframe" id="journalist">
					<img src="{% thumbnail first_photo.journalist.get_profile.avatar 60x60 crop %}">
					{{first_photo.journalist.get_profile.full_name}}
					</a>
				</p>
				
			</div>
			
	</div>
		
		<div class="span12" style="text-align: center;  margin-top: 5px; margin-left: -140px; height:75px">
			<a href="{% url start_photo_gallery project_slug=project.slug gallery_slug=gallery.slug start_number=next_number|add:-1 %}"><img src="/s/static/arrow-left.png"/ width="20px" height="60px" style="margin-left: 15%; padding-right: 10px;"></img></a>	
			{% for photo in photos_before %}
			
			{% if photos_before|length == 3 %}
				{% with number=previous_number|add:forloop.counter0|add:1 %}     
					<a href="{% url start_photo_gallery project_slug=project.slug gallery_slug=gallery.slug start_number=number%}"> <img {% if photo.id == first_photo.id %} class="highlight" {% endif %} src="{% thumbnail photo.image 88x58 %}"/> </a>
				{% endwith %}
			{% elif photos_before|length == 1 %}
				{% with number=previous_number|add:forloop.counter0|add:3 %}     
					<a href="{% url start_photo_gallery project_slug=project.slug gallery_slug=gallery.slug start_number=number%}"> <img {% if photo.id == first_photo.id %} class="highlight" {% endif %} src="{% thumbnail photo.image 88x58 %}"/> </a>
				{% endwith %}
			{% elif photos_before|length == 2 %}
				{% with number=previous_number|add:forloop.counter0|add:2 %}     
					<a href="{% url start_photo_gallery project_slug=project.slug gallery_slug=gallery.slug start_number=number%}"> <img {% if photo.id == first_photo.id %} class="highlight" {% endif %} src="{% thumbnail photo.image 88x58  %}"/> </a>
				{% endwith %}
			{% elif photos_before|length == 4 %}
				{% with number=previous_number|add:forloop.counter0 %}     
					<a href="{% url start_photo_gallery project_slug=project.slug gallery_slug=gallery.slug start_number=number%}"> <img {% if photo.id == first_photo.id %} class="highlight" {% endif %} src="{% thumbnail photo.image 88x58  %}"/> </a>
				{% endwith %}
			{% elif photos_before|length == 5 %}
				{% with number=previous_number|add:forloop.counter0|add:-1 %}     
					<a href="{% url start_photo_gallery project_slug=project.slug gallery_slug=gallery.slug start_number=number%}"> <img {% if photo.id == first_photo.id %} class="highlight" {% endif %} src="{% thumbnail photo.image 88x58  %}"/> </a>
				{% endwith %}
			{% else %}
				{% with number=previous_number|add:forloop.counter0|add:-2 %}   
					<a href="{% url start_photo_gallery project_slug=project.slug gallery_slug=gallery.slug start_number=number%}"> <img {% if photo.id == first_photo.id %} class="highlight" {% endif %} src="{% thumbnail photo.image 88x58  %}"/> </a>
				{% endwith %}
			{% endif %}
			{% endfor %}
		
			{% for photo in photos_after %}
				{% with number=next_number|add:forloop.counter0|add:1 %}
					
						<a href="{% url start_photo_gallery project_slug=project.slug gallery_slug=gallery.slug start_number=number%}"> <img {% if photo.id == first_photo.id %} class="highlight" {% endif %} src="{% thumbnail photo.image 88x58 %}"/> </a>
				
				{% endwith %}
			{% endfor %}
			<a href="{% url start_photo_gallery project_slug=project.slug gallery_slug=gallery.slug start_number=next_number|add:1 %}"><img src="/s/static/arrow-right.png"/ width="20px" height="60px" style="padding-left: 10px;"></img></a>	

		</div>
		</li>
{% endfor %}
</ul>
{% endblock %}
