{% extends "base.html" %}
{% load thumbnail %}

{% block title %}photo details{% endblock %}

{% block body %}
	<script>
	$(document).ready(function(){
	    (function($) {
	        $('#gallery').carousel();
	    })(jQuery);
	    $('#photo_view').click(function(){
	        $('#photo_view').toggle();
	        $('#details_view').toggle(); 
	    });
	    $('#details_view').click(function(){
	        $('#details_view').toggle();
	        $('#photo_view').toggle();
	    });
	});
	</script>
	
	<!-- Load photo larger if window, smaller if mobile -->
	<div id="photo_view" class="fluid-container" align="middle" style="height:100%; width:100%">
		<div align="center">
		 	<a href="javascript:void()"><img id="first_photo" class="dynamic-img" border="0" align="middle" src="{% thumbnail photo.image 1024x768 %}" alt="{{photo.title}}"/></a>
		</div> 	
	</div>  
	 
    <div id="details_view" style="display:none" class="container">
    
    <div class="content" style="height:100%">
    	
        <div class="page-header">
            <h2>{{photo.title}} <small>{{photo.journalist}}</small></h2><!-- TODO: LINK TO JOURNALISTS PROFILE PAGE -->
        </div>
        
        <div class="row">
            <div id="photoDiv" class="span11"  style="height:100%; width:60%;">
                <a href="javascript:void()"><img border="0" class="dynamic-img" src="{% thumbnail photo.image 1000x750 %}" alt="{{photo.title}}"/></a>
            </div>
		  
		  <div  class="photo-details">
	        <h5>{{photo.caption}}</h5>  
	        <small> Tags: {{photo.tags.all|join:','}} </small>
		    <p> Camera Manufacturer: {{photo.exif_data.camera_manufacturer}}</p>
			<p> Model: {{photo.exif_data.camera_model}}</p>
		    <p> Date Taken: {{photo.exif_data.date}}</p>
		    <p> Shutter Speed: {{photo.exif_data.shutter_speed}}</p>
		    <p> Fnumber:{{photo.exif_data.fnumber}}</p>
		    <p> Focal Length: {{photo.exif_data.focal_length}}</p>
		    <p> Flash: {{photo.exif_data.flash_used}}</p>
		    <p> Height: {{photo.exif_data.height_dimension}}</p>
		    <p> Width: {{photo.exif_data.width_dimension}}</p>
		    <p> GPS lat: {{photo.exif_data.gps_latitude}}</p>
		    <p> GPS long: {{photo.exif_data.gps_longitude}}</p>
		    <p> Altitude: {{photo.exif_data.altitude}}</p>
	    </div>
	   </div> <!--  end row -->
	    
    </div> <!--  end content div -->
	
	<div class="gallery-banner"> 
    <div id="gallery_footer">
        <ul id="gallery" class="photo_gallery" style="display:none;">
            {% for photo in photo.project.photo_set.all %}
                <li><div class="project_small" style="position:relative; top:-40px;">
                	{% if photo.image.height < photo.image.width %}
                    <a href="{{photo.get_absolute_url}}">
                        <img class="project-thumb-photo" src="{% thumbnail photo.image 200x150 %}" alt="Project-Photo"/>
                    </a>
                    {% else %}
                    <a href="{{photo.get_absolute_url}}">
                        <img class="portrait" src="{% thumbnail photo.image 200x150 %}" alt="Project-Photo"/>
                    </a>
                    {% endif %}
                </div></li>
            {% endfor %}
        </ul>
    </div> 
    </div>
        
    </div> <!--  end details container div -->

{% endblock %}
