{% extends "base.html" %}
{% load thumbnail %}
{% load comments %}


{% block title %}photo details{% endblock %}

{% block banner %} {{project.title}} {% endblock %}

{% block body %}
<div class="row" style="background-color: #707070; padding: 10px">
	<div id="photoDiv" class="span5" style="height:100%; width:60%;">
		<a href="javascript:void()"><img border="0" class="dynamic-img" src="{% thumbnail photo.image 240x180 %}" alt="{{photo.title}}"/></a>
		<h2> {{ photo.title }} </h2>
		<p> {{ photo.caption }} </p>
		
		<img src="{% thumbnail journalist.userprofile.avatar 50x50 %}" />
		<h3> {{ photo.journalist }} </h3>
		<p> {{ journalist.userprofile.bio }} </p>
		<a href="/users/{{journalist.username}}"> Learn more... </a>
		
		<a href="javascript:void()"> <h3 name="showhide"> Photo EXIF Data </h3> </a>
		<div class="photo_exif">
		<a href="javascript:void()"> <h3>Hide Photo EXIF Data </h3> </a>
			        <!--
	        <small> Tags: {{photo.tags.all|join:','}} </small>
		    <p> Camera Manufacturer: {{photo.exif_data.camera_manufacturer}}</p>
			<p> Model: {{photo.exif_data.camera_model}}</p>
		    <p> Date Taken: {{photo.exif_data.date}}</p>
		    <p> Shutter Speed: {{photo.exif_data.shutter_speed}}</p>
		    <p> Fnumber:{{photo.exif_data.fnumber}}</p>
		    <p> Focal Length: {{photo.exif_data.focal_length}}</p>
		    <p> Flash: {{photo.exif_data.flash_used}}</p>
		    <p> Height: {{photo.exif_data.height_dimension}}</p>
		    <p> Width: {{photo.exif_data.width_dimension}}</p>
		    <p> GPS lat: {{photo.exif_data.gps_latitude}}</p>
		    <p> GPS long: {{photo.exif_data.gps_longitude}}</p>
		    <p> Altitude: {{photo.exif_data.altitude}}</p>
			-->
		</div>
	</div>

	<div id="comments" class="span5">
	<div class="comments_display">
        {% get_comment_list for photo as comment_list %}
        	{% for comment in comment_list %}
			<h4> {{ comment.user_name }} </h4>
        	    <p style="color: white;"> {{comment.comment}} {{comment.submit_date}}</p>
        	{% endfor %}
	</div>
	<a href="javascript:void()"> <h4> Leave a Comment </h4> </a>
	
	<div class="comment_form">
        {% if user.is_authenticated %}
        {% get_comment_form for photo as form %}
		<div class="span4">
			<h3> Add to the Chatter </h3>
			<form action="{% comment_form_target %} " method="post">
			<div class="row">
				{% csrf_token %}
					{{ form.comment }}
					<p style="display:none">
					{{ form.honeypot }}
					{{form.user }}
					{{ form.content_type }}
					{{ form.object_pk }}
					{{ form.timestamp }}
					{{ form.security_hash }}
					</p>
			</div>
			<div class="row">
				<input type="submit" name="submit" value="Post">
				<input type="hidden" name="next" value="{{photo.get_absolute_url}}" />
			</div>
        	</form>
        </div> 
        {% else %}
            <p> Please <a href="http://jaam.us.to/admin/">login</a> to post a comment. </p>
        {% endif %}
	</div>
	</div>
</div> <!--  end container div -->
        
    </div> <!--  end details container div -->

{% endblock %}
