/*@import url(http://fonts.googleapis.com/css?family=Lato:400,700);*/

body {
    margin: 0;
    background: #262626;
    overflow-x: hidden;
    width: 100%;
    height: 100%;
}
.container-center {
    position: absolute;
    top: 20px;
    bottom: 125px;
    right: 0;
    left: 0;
    margin: auto;
    overflow-x: hidden;
    overflow-y: hidden;
}
#container {
    height: 474px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
#footer {
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
}
#nav {
    height: 120px;
    width: 900px;
    margin: 0 auto;
}
#logo {
    background-image: url('/s/static/common/img/logo_simple-white.png');
    background-size: 160px;
    -moz-background-size: 160px;
    background-repeat: no-repeat;
    width: 160px;
    height: 65px;
    float: left;
    margin-left: 20px;
    margin-right: 40px;
}
#social {
    float: right;
}
#social img {
    padding-top:8px;
    height: 48px;
    width: 48px;
}
#projects {
    height: 474px;
    width: 912px;
}
.loader {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 10;
}
.project {
    height: 474px;
    width: 912px;
    float: left;
}
.pic {
    margin: 4px;
    overflow: hidden;
    float: left;
    border-radius: 4px;
    box-shadow: 0 0 5px 2px #202020;
}
.project .pic {
    height: 150px;
    width: 220px;
}
.title_block {
    color: white;
    font-family: 'Lato', sans-serif;
    line-height: 36px;
    height: 150px;
    width: 448px;
    margin: 4px;
    float: left;
}
.banner {
    background-image: url('/s/static/common/img/banner.png');
    background-size: 448px;
    background-position: 0 -10px;
}
.title {
    font-size: 22pt;
    font-weight: 700;
    text-transform: uppercase;
    position: relative;
    top: 40px;
    left: 56px;
    text-align: center;
    display: block;
    width: 350px;
    cursor: default;
    text-shadow: hsla(0, 0%, 40%, 0.6) 0 0 8px;
}
.subtitle {
    font-size: 12pt;
    font-weight: 400;
    position: relative;
    top: 59px;
    left: 116px;
    height: 32px;
    width: 230px;
    text-align: center;
    display: block;
    cursor: default;
    overflow: hidden;
    text-overflow: ellipsis;
    text-shadow: hsla(0, 0%, 40%, 0.7) 0 0 5px;
    white-space: nowrap;
}
.nav_item {
    color: white;
    float: left;
    padding: 10px 20px;
    font-size: 24pt;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}
.side-fade {
    height: 474px;
    width: 45px;
    position: absolute;
    top: 0;
}
.side-fade:hover {
    background: hsla(0,0%,25%,0.96) !important;
}
.side-fade.left {
    left:0;
    background: -moz-linear-gradient(left,  rgba(38,38,38,1) 0%, rgba(38,38,38,0.6) 70%, rgba(38,38,38,0) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(38,38,38,1)), color-stop(70%,rgba(38,38,38,0.6)), color-stop(100%,rgba(38,38,38,0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  rgba(38,38,38,1) 0%,rgba(38,38,38,0.6) 70%,rgba(38,38,38,0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  rgba(38,38,38,1) 0%,rgba(38,38,38,0.6) 70%,rgba(38,38,38,0) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  rgba(38,38,38,1) 0%,rgba(38,38,38,0.6) 70%,rgba(38,38,38,0) 100%); /* IE10+ */
    background: linear-gradient(left,  rgba(38,38,38,1) 0%,rgba(38,38,38,0.6) 70%,rgba(38,38,38,0) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#262626', endColorstr='#00262626',GradientType=1 ); /* IE6-9 */
}
.side-fade.right {
    right:0;
    background: -moz-linear-gradient(left,  rgba(38,38,38,0) 0%, rgba(38,38,38,0.6) 30%, rgba(38,38,38,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(38,38,38,0)), color-stop(30%,rgba(38,38,38,0.6)), color-stop(100%,rgba(38,38,38,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  rgba(38,38,38,0) 0%,rgba(38,38,38,0.6) 30%,rgba(38,38,38,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  rgba(38,38,38,0) 0%,rgba(38,38,38,0.6) 30%,rgba(38,38,38,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  rgba(38,38,38,0) 0%,rgba(38,38,38,0.6) 30%,rgba(38,38,38,1) 100%); /* IE10+ */
    background: linear-gradient(left,  rgba(38,38,38,0) 0%,rgba(38,38,38,0.6) 30%,rgba(38,38,38,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00262626', endColorstr='#262626',GradientType=1 ); /* IE6-9 */
}
.scroll-arrow {
    height: 75px;
    width: 28px;
    background: white;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
}
.scroll-arrow.left {
    right: 10px;
    background: url('/s/static/common/img/arrow-left.png') no-repeat;
}
.scroll-arrow.right {
    left: 10px;
    background: url('/s/static/common/img/arrow-right.png') no-repeat;
}

canvas {
    display: block;
    position: relative;
    z-index: 2;
}
.ribbon-content {
    color: #FFFFFF;
    text-shadow: hsla(0, 0%, 40%, 0.6) 0 0 8px;
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
    display: inline-block;
    position: relative;
    left: 40px;
    text-align: center;
    z-index: 3;
}
.ribbon-top, .ribbon-bottom {
    margin-left: 10px;
}
.ribbon-top {
    width: 450px;
    height: 80px;
}
.ribbon-top .ribbon-content {
 font-size: 2.5em;
 font-weight: 700;
 text-transform: uppercase;
 top: -51px;
 width: 380px;
}
.ribbon-bottom {
    width: 400px;
    height: 60px;
}
.ribbon-bottom .ribbon-content {
 font-size: 1.3em;
 font-weight: 400;
 top: -40px;
 width: 340px;
}
.sidebar {
    width: 32px;
    height: 430px;
    position: relative;
    z-index: 1;
    margin: -10px 10px -10px 20px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.9) 0 0 8px;
    -moz-box-shadow: rgba(0, 0, 0, 0.9) 0 0 8px;
    box-shadow: rgba(0, 0, 0, 0.9) 0 0 8px;
}
.sidebar a {
    text-decoration: none;
}
.sidebar ul {
    list-style: none;
    margin: 0;
    padding-top: 10px;
}
.sidebar ul li {
    width: 32px;
    height: 32px;
    margin: 8px 0;
}
[class*="link_"] {
    background-repeat: no-repeat;
    background-size: 31px;
    padding: 0;
    height: 32px;
    width: 32px;
}
[class*="link_"]:hover {
    margin-left: -20px;
}
[class*="link_"]>p {
    width: 65px;
    height: 32px;
    margin-left: 32px;
    margin-top: -2px;
}
[class*="link_"]>p span {
    display: inline-block;
    margin: 5px;
    color: white;
    font-size: 12pt;
    font-weight: bold;
    font-variant: small-caps;
    text-shadow: hsla(0, 0%, 40%, 0.6) 0 0 8px;
}
.link_info {
    background-image: url('/s/static/common/img/info_icon.png');
}
.link_photo {
    background-image: url('/s/static/common/img/photo_icon.png');
}
.link_video {
    background-image: url('/s/static/common/img/video_icon.png');
}
.link_story {
    background-image: url('/s/static/common/img/story_icon.png');
}
.link_blog {
    background-image: url('/s/static/common/img/blog_icon.png');
}

.link_act {
    background-image: url('/s/static/common/img/blog_icon.png');
}

.link_contributor {
    background-image: url('/s/static/common/img/contributor_icon.png');
    height: 32px;
}
.link_contributor>p span {
    margin: 0 5px;
    line-height: 0.9;
}
[class*="blip_"] {
    visibility: hidden;
}
.link_info:hover .blip_info {
    visibility: visible;
}
.link_photo:hover .blip_photo {
    visibility: visible;
}
.link_video:hover .blip_video {
    visibility: visible;
}
.link_story:hover .blip_story {
    visibility: visible;
}
.link_blog:hover .blip_blog {
    visibility: visible;
}
.link_contributor:hover .blip_contributor {
    visibility: visible;
}

.link_act:hover .blip_act {
    visibility: visible;
}

.exif {
font-weight: normal; 
line-height: 2; 
font-size: 12pt;
}

.exif_center {
	top: 0px;
    bottom: 0px;
    right: 0;
    left: 0;
    margin: auto;
}

.ribbon-inside-container {
    position: relative;
    top: -480px;
    padding-top: 10px;
    height: 420px;
    margin-left: 100px;
}


@media all and (max-width: 767px) { /* TODO: phone */
    .container-center {
        width: 560px !important;
    }
    #container {
        width: 456px !important;
    }
    #container > div {
        width: 560px !important;
    }
    #container > div li {
        width: 470px !important;
    }
    #nav {
        width: 456px;
    }
    #logo {
        margin-right: 20px;
    }
    .nav_item {
        width: 20px;
        float: left;
        text-align: center;
        font-size: 18pt;
        margin: 2px 20px;
    }
}

@media all and (max-width: 1023px) and (min-width: 768px) { /*iPad portrait*/
    .container-center {
        width: 768px !important;
        height: 632px !important;
    }
    #container { /* project width */
        width: 684px !important;
        height: 632px !important;
    }
    #container > div { /*project + spacer + fade */
        width: 788px !important;
        height: 632px !important;
    }
    #container > div li { /* project + spacer */
        width: 698px !important;
    }
    .side-fade {
        width: 45px !important;
        height: 632px !important;
    }
    #nav {
        width: 768px;
    }
    #logo {
        margin-right: 20px;
    }
}

@media all and (min-width: 1024px) { /*iPad landscape and most desktop screens*/
    .container-center {
        width: 1024px !important;
        height: 550px !important;
    }
    #container {
        width: 912px !important;
        height: 474px !important;
    }
    #container > div {
        width: 1016px !important;
        height: 474px !important;
    }
    #container > div li {
        width: 926px !important;
    }
    #nav {
        width: 900px;
    }
}
