.journalist-div {
    -webkit-box-shadow: rgba(0, 0, 0, 0.496094) 0px 1px 4px 0px inset;
    background-attachment: scroll;
    background-clip: border-box;
    background-color: transparent;
    background-image: -webkit-linear-gradient(top, #222, #2A2A2A);
    background-origin: padding-box;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.496094) 0px 1px 4px 0px inset;
    display: block;
    margin-bottom: 10px;
    margin-right: 3px;
    margin-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

.journalist-img {
    -webkit-box-shadow: rgba(0, 0, 0, 0.398438) 1px 2px 5px 0px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-style: none;
    border-left-style: none;
    border-right-style: none;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-top-style: none;
    display: inline;
    height: 69px;
    margin-bottom: 3px;
    margin-left: 3px;
    margin-right: 3px;
    margin-top: 3px;
    width: 104px;
}


.journalist-banner {
    margin-top: -60px; 
    margin-left: -20px;
}

.journalist-name {
    color: white;
    font-size: 18pt;
    font-weight: bold;
    margin-top: -40px;
    margin-left: 20px;
}

.journalist-infobox {
    margin-left:20px; 
    border-left:solid; 
    border-width:thin;
    padding-top: 50px;
}

.bar-label {
    font-size: 8pt;
    font-family:'CabinSemiBold', sans-serif; 
    color: #777;
    padding-left: 10px;
    margin-top: -10px;
}

.bar-info {
    color: #B5B4B7; 
    font-family: CabinSemiBold, sans-serif;
    font-size: 12pt;
    padding-top: 20px;
    padding-left: 10px;
}

.journalist-label {
    padding-left: 20px;
    padding-bottom: 20px;
    font-size: 8pt;
    font-family:'CabinSemiBold', sans-serif; 
    color: #777;
}

.journalist-info {
    color: #B5B4B7; 
    font-family: CabinSemiBold, sans-serif;
    font-size: 12pt;
    padding-left: 20px;
    padding-top: 10px;
}

.journalist-bio{
    color:white; 
    padding-top:42px; 
    height: 220px;
    overflow-y: hidden;
}

.journalist-photos {
    color:white; 
    border-bottom:solid; 
    border-width:thin; 
    padding-top:12px; 
    padding-bottom:12px
}