{% extends "dora/base.html" %}

{% block title %}projects{% endblock %}

{% block body %}
	<script type="text/javascript">
	$(window).load(function(){
	    (function($) {
	       $('#gallery').carousel();
	       $('#content').children().first().css('overflow', 'visible !important');
	    })(jQuery);
	});
	</script>

	<div id="content" style="padding-top: 100px">
	    <ul id="gallery" class="gallery" style="display:none">
	        {% for project in projects %}
	        <li><div class="project">
	            <a href="{{project.get_absolute_url}}">
	            {% with project.photo_set.all|first as photo %}
	                <img class="project-thumb" src="{{ photo.image.url}}"/>
	            {% endwith %}
	            </a>
	            <span class="project-title">{{project.title}}</span>
	        </div></li>
	        {% endfor %}
	    </ul>
	</div>
{% endblock %}
