{% extends "base.html" %}
{% load thumbnail %}

{% block title %}all projects{% endblock %}

{% block extrahead %}
    <script>
        (function() {
            var CAROUSEL_OPTIONS = {overflow:'hidden', leftOffset:45, separation:14};

            $(document).ready(function() {
                $('.carousel-ready').carousel(CAROUSEL_OPTIONS)
                addFade();
            });

            function addFade() {
                var left = $("<div>").addClass("side-fade").addClass("left");
                var right = $("<div>").addClass("side-fade").addClass("right");
                var left_arrow = $("<div>").addClass("scroll-arrow").addClass("left");
                var right_arrow = $("<div>").addClass("scroll-arrow").addClass("right");
                left.append(left_arrow);
                right.append(right_arrow);
                $("#all-projects-container").append(left).append(right);
                
                $(".side-fade").mousedown(function (e){
                    $('ul.ui-draggable').trigger(e);
                });
                $(".side-fade.right").on("click", function (e){
                    var options = { dx : -50 }
                    $('ul.ui-draggable').simulate('drag', options);
                });
                $(".side-fade.left").on("click", function (e){
                    var options = { dx : 50 }
                    $('ul.ui-draggable').simulate('drag', options);
                });
            }
        })(jQuery);
    </script>
{% endblock %}

{% block body %}
<div id="all-projects-container" class="container-fluid container-center" style="position:relative; top: 2em;">
    <ul class="carousel-ready overflow-hidden" style="list-style: none">
        {% for project in projects %}
            {% if forloop.first %}
                <li class="span11">
                <div style="margin: 0 auto; width: 780px">
            {% elif forloop.counter0|divisibleby:"3" %}
                </div>
                </li> <!-- end panel -->
                <li class="span11">
                <div style="margin: 0 auto; width: 780px">
            {% endif %}

            <div class="span3">
                <a href="{{project.get_absolute_url}}">
                    <div class="pic">
                        <img src="{% thumbnail project.cover_photo.image 240x160 crop %}"/>
                    </div>
                    <p class="gallery_title" style="clear: left"> {{ project.title }} </p>
                </a>
                <p class="gallery_blip"> {{project.description|safe}} </p>
            </div>
            
            <div class="gallery_spacer">&nbsp</div>
        {% endfor %}
        </div>
        </li>
    <ul>
</div>
{% endblock %}
