{% extends "base.html" %}
{% load thumbnail %}

{% block title %}all projects{% endblock %}

{% block body %}
<div class="container-fluid container-center" style="position:relative">
    <h1 style="text-align: center">All Projects</h1>
    <ul class="carousel-ready overflow-hidden" style="list-style: none">
        {% for project in projects %}
            {% if forloop.first %}
                <li class="span11">
                <div style="margin: 0 auto; width: 780px">
            {% elif forloop.counter0|divisibleby:"3" %}
                </div>
                </li> <!-- end panel -->
                <li class="span11">
                <div style="margin: 0 auto; width: 780px">
            {% endif %}

            <div class="span3">
                <a href="{{project.get_absolute_url}}">
                    <div class="pic">
                        <img src="{% thumbnail project.cover_photo.image 240x160 crop %}"/>
                    </div>
                    <p class="gallery_title" style="clear: left"> {{ project.title }} </p>
                </a>
                <p class="gallery_blip"> {{project.description|safe}} </p>
            </div>
            
            <div class="gallery_spacer">&nbsp</div>
        {% endfor %}
        </div>
        </li>
    <ul>
</div>
<script>
(function() {
    $('.carousel-ready').carousel()
})(jQuery);
</script>
{% endblock %}
