{% extends "banner_base.html" %}
{% load thumbnail %}
{% load comments %}

{% block title %} contributors{% endblock %}

{%block banner%} {{project.title}} {%endblock%}

{% block banner_body %}
<ul class="carousel-ready overflow-hidden">
    {% for user in project.journalists %}
        {# make carousel panels #}
        {% if forloop.first %}
            <li class="span11">
            <div class="row" style="height:120px; margin-left:20px;">
        {% elif forloop.counter0|divisibleby:"9" %}
            </div> <!-- end row -->
            </li> <!-- end panel -->
            <li class="span11">
            <div class="row" style="height:120px; margin-left:20px;">
        {% elif forloop.counter0|divisibleby:"3" %}
            </div> <!-- end row -->
            <div class="row" style="height:120px; margin-left:20px; padding-top:20px;">
        {% endif %}
        
        <div class="span2" style="width:100px;">
            <p class="contrib_page">
                <div class="pic">
                    <img src="{% thumbnail user.userprofile.avatar 100x100 crop %}"/>
                </div>
            </p>
        </div>
        
        <div class="span2" style="margin-top: 10px;">
            <p class="mini_title" style="margin-top: 20px; margin-left: -5px">
                    <a style="color: white; font-weight: bold" href="/users/{{user.username}}?embedded=true" class="iframe">
                    <img src="/s/static/circle_arrow.gif" width="12%"/>
                    {{user.get_profile.full_name}}
                </a><br/>
                <span style="font-size: 10pt; margin-left: 27px">{{user.get_profile.major}}</span>
            </p>
        </div>
    {% endfor %}
    </div> <!-- end row -->
    </li> <!-- end panel -->
</ul>
{% endblock %}
