{% extends "banner_base.html" %}
{% load thumbnail %}
{% load comments %}

{% block title %} contributors{% endblock %}

{%block banner%} {{project.title}} {%endblock%}

{% block banner_body %}
<div id="blanket" style="display:none;" class="blanket"></div>
    <div class="span9" id="view9">
    <div class="row">
    
    {% for User in project.journalists %}
	<div class="span1">
	   <p class="contrib_page">
		<img class="journalist_thumbnail" src="{% thumbnail User.userprofile.avatar 80x100 %}"/>
		</p>
	</div>
	
	<div class="span2">
		
		<div id="{{User.get_profile.full_name}}" style="display:none;" class="profile_popUp">
			<a href="" onclick="popup('{{User.get_profile.full_name}}'); return false"><img src="/s/static/close.png" style="float: right;" height="40px" width="40px" /></a>
			
		 		<iframe name="foo" width="960px" height="400px" scrolling="no" frameborder="0"></iframe>
		</div>
		<p class="mini_title" style="margin-top: 20px; margin-left: -5px"><a href="/users/{{User.username}}/?embedded=true" target="foo" onclick="popup('{{User.get_profile.full_name}}')"><img src="/s/static/profile_arrow.png"/>{{User.get_profile.full_name}}</a>
		<span style="font-size: 10pt; margin-left: 5px">{{User.get_profile.major}}</span></p>
	</div>
	
	{% if forloop.counter|divisibleby:"3" %}
		 </div><div class="row" style="padding-top: 10px">
	{% endif %}
	
	{% if forloop.counter|divisibleby:"9" %}
		<!--  end the view 9 section for swiping to a new one -->
		</div></div>
		<div class="span9" id="view9"><div class="row">
	{% endif %}

	{% endfor %}
	</div>
	</div>
{% endblock %}