{% extends "banner_base.html" %}
{% load thumbnail %}
{% load comments %}

{% block title %} {{project.title}} contributors{% endblock %}

{%block banner%} {{project.title}} {%endblock%}


{% block banner_body %}
    <div class="span9">
    <div class="row">
    {% for User in project.journalists %}
	<div class="span1">
	   <p class="contrib_page">
		<img class="journalist_thumbnail" src="{% thumbnail User.userprofile.avatar 80x100 %}"/>
		</p>
	</div>
	<div class="span2">
		<div id="blanket" style="display:none;" class="blanket"></div>
		<div id="popUpDiv" style="display:none;" class="popUp">
			<a href="" onclick="popup('popUpDiv'); return false">Exit</a>
			<div class="span4">
		 		Journalist Info here.
		 	</div>
		</div>
		<p class="popup_link"><a href="#" onclick="popup('popUpDiv')"><img src="/s/static/profile_arrow.png"/>Profile</a></p>
		<p class="mini_title">{{User.first_name}} {{User.last_name}} <p class="mini_info">{{User.userprofile.major}}</p></p>
	</div>
	{% if forloop.counter|divisibleby:"3" %}
		 </div><div class="row" style="padding-top: 10px">
	{% endif %}

	{% endfor %}
	</div>
	</div>
{% endblock %}