{% extends "banner_base.html" %}
{% load thumbnail %}

{% block title %}{{ project.title }} {% endblock %}

{% block banner %}{{ project.title }}{% endblock %}

{% block banner_body %}
	<div class="span4">
		<h5 style="color: white;  border-bottom: 1px solid white; height: 180px"> {{project.description|safe}} </h5>
		<p style="margin-top: 20px;">
		<iframe width="280" height="200" src="http://www.youtube.com/embed/am82U2U9-H4?HD=1;rel=0;showinfo=0;controls=0" seamless="seamless" frameborder="0" allowfullscreen>You need a Frames Capable browser to view this content.</iframe>
		</p>
	</div>
	<div class="span6">
		<img src="/s/static/Kyrgyzstan.png"/>
	</div>	
{% endblock %}