{% extends "base.html" %}
{% load comments %}
{% block title %}
Photo Details
{% endblock %}

{% block content %}
<h4>Go, Diego Go!</h4>
<h1>{{photo.title}}</h1>

<h3>From Project: {{photo.project}}</h3>

<h3>By: {{photo.journalist}} </h3>

<h3>Caption: {{photo.caption}} </h3>

<h3>Tags: {{photo.tags.all|join:','}} </h3>


<ul><img height="25%" width="25%" src="{{photo.image.url}}" alt="{{photo.image}}"/></ul>

<h5>Exif Data </h5>
    <h6> Camera Manufacturer: {{photo.exif_data.camera_manufacturer}}</h6>
    <h6> Model: {{photo.exif_data.camera_model}}</h6>
    <h6> Date Taken: {{photo.exif_data.date}}</h6>
    <h6> Shutter Speed: {{photo.exif_data.camera_manufacturer}}</h6>
    <h6> Fnumber:{{photo.exif_data.camera_manufacturer}}</h6>
    <h6> Focal Length: {{photo.exif_data.focal_length}}</h6>
    <h6> Flash? {{photo.exif_data.flash_used}}</h6>
    <h6> Height: {{photo.exif_data.height_dimension}}</h6>
    <h6> Width: {{photo.exif_data.width_dimension}}</h6>
    <h6> GPS lat: {{photo.exif_data.gps_latitude}}</h6>
    <h6> GPS long: {{photo.exif_data.gps_longitude}}</h6>
    <h6> Altitude: {{photo.exif_data.altitude}}</h6>

<h1> Comments </h1>
{% get_comment_count for photo as comment_count %}
<p>{{ comment_count }} comments have been posted. </p>

{% render_comment_list for photo %}

{% if user.is_authenticated %}
{% with photo.get_absolute_url as next %}
{% get_comment_form for photo as form %}
<form action="{% comment_form_target %}" method="POST">
{% csrf_token %}
{{ form.comment }}
<p>This is the honeypot field. Don't enter anything, we will hide it later with CSS. </p>
{{ form.honeypot }}
{{ form.content_type }}
{{ form.object_pk }}
{{ form.timestamp }}
{{ form.security_hash }}
<br />
<input name="next" type="hidden" value="{{ next }}" />
<input type ="submit" value="Add Comment" id="id_submit" />
</form>
{% endwith %}

{% else %}
    <p> Please <a href="http://127.0.0.1:8000/admin/">login</a> to post a comment. </p>
{% endif %}
{% endblock %}

