{% extends "base.html" %}
{% load comments %}
{% block title %}
Photo Details
{% endblock %}

{% block content %}
<link rel="stylesheet" href="/s/static/css/bootstrap_photo_details.css">
<link rel="stylesheet" href="/s/static/css/photo_details.css">
<div id="wrapper">
    <div class="row" id="header">
        <div class="span14 offset2">
        <h1><a href="#"> Home </a> > <a href="#"> {{photo.project}} </a>  </h1>

<h3>By: {{photo.journalist}} </h3>
    </div>
    <div class="row" id="body">
    <div class="span8 offset2">
<h3>Caption: {{photo.caption}} </h3>

<ul><img height="50%" width="50%" src="{{photo.image.url}}" alt="{{photo.image}}"/></ul>
<h3>Tags: {{photo.tags.all|join:','}} </h3>
    </div>
    <div class="span6" id="comments">
<h1> Comments </h1>
{% get_comment_count for photo as comment_count %}
<p>{{ comment_count }} comments have been posted. </p>

{% render_comment_list for photo %}

{% if user.is_authenticated %}
{% with photo.get_absolute_url as next %}
{% get_comment_form for photo as form %}
<form action="{% comment_form_target %}" method="POST">
{% csrf_token %}
{{ form.comment }}
<div id="honeypotField">
{{ form.honeypot }}
</div>
{{ form.content_type }}
{{ form.object_pk }}
{{ form.timestamp }}
{{ form.security_hash }}
<br />
<input name="next" type="hidden" value="{{ next }}" />
<input type ="submit" value="Add Comment" id="id_submit" />
</form>
{% endwith %}

{% else %}
    <p> Please <a href="http://127.0.0.1:8000/admin/">login</a> to post a comment. </p>
{% endif %}
    </div>
    </div>
</div>
{% endblock %}
